.idea
**/__pycache__
*custom-code.lua
*.cst
models/origin

*.w3x/**/*.blp
*.w3x/**/*.mdl
*.w3x/**/*.mdx
*.w3x/**/*.tga
*.w3x/**/*.fdf
*.w3x/**/*.toc
*.w3x/units/*

build/copy_rel_map.py
_release

# excludes
!*.w3x/war3mapMap.blp
